#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.process {
  width: 518px;
  height: 123px;
  border-radius: 20px;
  background-color: #E07C7C;
  display: flex;
  flex-direction: column;
}
.process-title {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  line-height: 32.81px;
}
.process-bar {
  
}
.process-completed {
  color: #ebb9b8;
  font-size: 16px;
  line-height: 18.75px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  .title {
    font-size: 24px;
    font-weight: 500;
  }
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  border-radius: 9999px;
  background-color: #FFFFFF;
  padding: 8px 16px;
}

.display {
  display: flex;
  align-items: center;

}

.task-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  margin-left: 8px;
}
.task-completed {
  color: #2e2e2e;
}
.task-incompleted {
  color: #a9a9a9;
  text-decoration: line-through;
}

/*
input[type="checkbox"] {
  appearance: none;
} */
.checkbox {
  background-color: #585292;
  border: solid 2px #585292;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  margin: 0;
}

.dropbtn {
  color: #9796A8;
  cursor: pointer;
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  width: 111px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.dropdown-content button {
  border: 0;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.delete-btn {
  color: red;
}

.new-todo {
  border: 0;
}
input[type="text"]:focus {
  outline: none;
}
